html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
svg{
  stroke: green;
  stroke-width: 2px;
  fill: none;
}

rect {
  stroke: cornflowerblue;
  fill: lightblue;

}
circle{
  fill: indianred;
}
text{
  font-family: arial;
  fill: white;
  font-size: 11px;
}




g path.top{
stroke: none;
fill: lightblue;
}
g path.middle{
stroke: none;
fill: lightgreen;
}
g path.bottom{
stroke: none;
fill: lightpink;
}



g.cells{
  fill: white;
  stroke: lightsteelblue;
}
g.core circle{
  fill:steelblue;
}
/* g.cells path:hover{
  fill: yellow;
} */



g.hidden line,
g.hidden path{
  display: none
}
